body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #3599fd;
  height: 100px;
}

.logo-container {
  display: inline-block;
}

.logo {
  max-width: 200px;
  margin: 16.425px 5px;
}

nav {
  display: none;
  position: absolute;
  right: 0px;
  font-size: 1.2em;
  z-index: 2;
}

nav ul {
  margin-top: -4px;
  padding: 0;
  margin-left: 250px;
  border: 1px solid #ffb259;
}

nav li {
  display: block;
  background-color: #3599fd;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}

nav a:hover {
  text-decoration: underline;
}

.hamburger-checkbox {
  display: none;
}

.hamburger-icon {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.hamburger-checkbox:checked ~ nav {
  display: inline-block;
}

.active {
  font-weight: bold;
}

.fa-search {
  color: #fff;
  font-size: 1.3em;
  position: absolute;
  top: 30px;
  right: 50px;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.search-box {
  display: none;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  border: solid 1px #ffb259;
  border-radius: 10px;
}

.search-button {
  padding: 10px 70px;
  color: #4f4f4f;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #ffb259;
  border-radius: 10px;
  border: none;
  margin: 15px 0;
  cursor: pointer;
}

.search-field {
  width: 80%;
  min-height: 30px;
  resize: none;
}

.search-checkbox {
  display: none;
}

.search-checkbox:checked ~ .search-box {
  display: block;
}

body {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

.heading {
  position: relative;
  top: 20px;
  left: 30px;
  color: #037df5;
  max-width: 300px;
}

main h1 {
  font-weight: 600;
  margin: 0;
  font-size: 1.8em;
}

main h2 {
  color: #037df5;
  margin-top: 10px;
  margin-bottom: 5px;
}

.home-heading p {
  font-size: 1.5em;
}

main p {
  margin-top: 0;
  color: #0270de;
  font-weight: 100;
}

.featured {
  padding-top: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.featured-page {
  padding-top: 20px;
}

.thumbnail-image {
  max-width: 300px;
  margin: auto;
  top: 250px;
}

main img {
  width: 100%;
}

.cta {
  text-transform: uppercase;
  text-decoration: none;
  color: #004e9d;
  font-size: 1.1em;
  font-weight: 400;
  background-color: #ffb259;
  background-size: cover;
  padding: 10px 70px;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 25px;
}

.cta-button {
  text-align: center;
  margin-top: 15px;
}

.cta:before {
  content: "";
  padding: 10px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  height: 70px;
  top: -20px;
  left: -45px;
  transition: left ease-in-out 1s;
  opacity: 0.3;
}

.cta:hover::before {
  left: 270px;
}

.popup {
  max-height: 0px;
  overflow: hidden;
  margin: 10px 0 30px 0;
  transition: 0.6s ease-in-out;
}

.popup-text {
  text-align: left;
  margin: 0 10px;
}

.popup-text h3 {
  color: #0270de;
  font-size: 0.9em;
  margin-top: 8px;
}

.popup-text p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.popup-text .read-more {
  display: none;
}

.read-more {
  display: none;
}

.read-more-button {
  padding: 10px 70px;
  background-color: #ffb259;
  border-radius: 10px;
  content: "Read more";
  color: #004e9d;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 0;
}

.read-more ~ .read-more-button::before {
  content: "Read more";
}

.read-more:checked ~ .read-more-button::before {
  content: "Read less";
}

.social-heading {
  display: flex;
  justify-content: center;
  color: #037df5;
}

.social-icons {
  font-size: 2em;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  color: #ffb259;
}

.social-icons i {
  cursor: pointer;
}

.social-icons a {
  color: #ffb259;
}

footer {
  background-color: #f5f5f5;
  color: #026dd8;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0 20px;
}

footer h3 {
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 1em;
}

footer h4 {
  margin: 8px 0 0 0;
  font-weight: 400;
  font-size: 0.8em;
}

footer p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 400;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  display: block;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: #026dd8;
  font-size: 0.7em;
  font-weight: 400;
}

.footer-copyright {
  font-size: 0.5em;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
}

/* Home page */

.home-featured {
  padding-top: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.heading p {
  font-size: 1.3em;
}

/* Exhibitions page */

.subheading p {
  margin: 0;
}

.featured-page__content {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.cosmology-check:checked ~ .cosmology-box {
  max-height: 500px;
  border: 1px solid #ffb259;
}
.robotics-check:checked ~ .robotics-box {
  max-height: 500px;
  border: 1px solid #ffb259;
}
.evolution-check:checked ~ .evolution-box {
  max-height: 500px;
  border: 1px solid #ffb259;
}
.biology-check:checked ~ .biology-box {
  max-height: 500px;
  border: 1px solid #ffb259;
}

.cosmology-button {
  margin-top: 15px;
}

/* Events page */

.night-check:checked ~ .night-box {
  max-height: 500px;
  border: 1px solid #ffb259;
}

.metaverse-check:checked ~ .metaverse-box {
  max-height: 500px;
  border: 1px solid #ffb259;
}

.eclipse-check:checked ~ .eclipse-box {
  max-height: 500px;
  border: 1px solid #ffb259;
}
.dinosaur-check:checked ~ .dinosaur-box {
  max-height: 500px;
  border: 1px solid #ffb259;
}

/* About Us page */

.about-featured {
  padding: 10px;
}

/* Visit page */

.visit-location {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.logo-image {
  max-width: 140px;
}

.visit-location__content {
  display: grid;
  color: #037df5;
}

.visit-location__content h2 {
  margin-top: 0;
}

.visit-location__content h3 {
  margin: 5px 0 5px 0;
  font-size: 0.9em;
}
.visit-location__content h4 {
  margin: 0 0 10px 0;
  font-size: 0.8em;
}

.visit-transport {
  padding-top: 0px;
}

.opening-section h3 {
  margin: 0 0 10px 0;
  font-size: 1em;
  color: #037df5;
}

.opening {
  display: flex;
  border: 1px solid #ffb259;
  color: #037df5;
}

.opening h4 {
  margin: 10px;
  font-size: 1.1em;
}

.visit-paragraph {
  margin-top: 10px;
}

.visit-paragraph p {
  margin-bottom: 10px;
}
.visit-paragraph a {
  color: #0270de;
}

/* Contact page */

.contact-content {
  margin-top: 20px;
}

.contact-phone {
  font-size: 3em;
  color: #ffb259;
  justify-content: space-between;
  margin-top: 20px;
}

.phone-icon {
  cursor: pointer;
}

.contact-chat {
  font-size: 3em;
  color: #ffb259;
  justify-content: space-between;
}

.chat-icon {
  cursor: pointer;
}

.phone-cta {
  font-size: 0.2em;
  margin: auto 0;
  cursor: pointer;
}

.chat-cta {
  font-size: 0.2em;
  margin-bottom: 10px;
  cursor: pointer;
}

.contact-form {
  text-align: center;
}

.form-contact {
  resize: none;
}

.contact-cta {
  margin-top: 10px;
  font-size: 0.7em;
  cursor: pointer;
}

.phone-popup {
  border: 1px solid #ffb259;
  text-align: center;
  display: none;
  margin: 0 auto;
  width: 300px;
}

.phone-popup h2 {
  font-size: 0.3em;
  margin-top: 10px;
}

.phone-popup p {
  font-size: 0.3em;
  font-weight: 300;
}

.phone-check:checked ~ .phone-popup {
  display: block;
}

.phone-check {
  display: none;
}

.phone-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.chat-popup {
  border: 1px solid #ffb259;
  text-align: center;
  display: none;
  margin: 0 auto;
  width: 300px;
}

.chat-popup h2 {
  font-size: 0.3em;
  margin-top: 10px;
}

.chat-popup p {
  font-size: 0.3em;
  font-weight: 300;
}

.chat-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.chat-field {
  resize: none;
  margin: 15px 0;
}

.chat-check {
  display: none;
}

.chat-check:checked ~ .chat-popup {
  display: block;
}

/* Media quieries */

@media (min-width: 600px) {
  .heading {
    left: 40px;
  }

  main h1 {
    font-size: 2em;
  }

  .heading p {
    font-size: 1.45em;
  }

  .home-featured {
    max-width: 360px;
  }

  .thumbnail-image {
    max-width: 400px;
  }

  .featured-page h2 {
    font-size: 1.7em;
  }

  .featured-page h3 {
    font-size: 1.2em;
  }

  .featured-page p {
    font-size: 1.2em;
  }

  .visit-featured {
    max-width: 400px;
  }

  .contact-featured {
    max-width: 400px;
  }

  .contact-phone {
    font-size: 4em;
  }

  .phone-popup {
    width: 80%;
  }

  .contact-chat {
    font-size: 4em;
  }

  .chat-popup {
    width: 80%;
  }

  .form-contact {
    width: 80%;
  }

  .search-box {
    max-width: 350px;
  }

  .social-heading {
    font-size: 1.2em;
  }

  .social-icons {
    gap: 30px;
    font-size: 3em;
  }

  footer h3 {
    font-size: 1.2em;
  }

  footer h4 {
    font-size: 1em;
  }

  footer p {
    font-size: 0.9em;
  }

  .footer-links a {
    font-size: 0.9em;
  }

  .footer-copyright {
    font-size: 0.7em;
  }
}

@media (min-width: 800px) {
  .logo {
    max-width: 250px;
  }

  .header {
    height: 110px;
  }

  .social-heading {
    font-size: 1.4em;
  }

  .social-icons {
    gap: 40px;
  }

  .social-icons h3 {
    font-size: 0.5em;
  }

  .footer-copyright {
    font-size: 0.9em;
  }

  .search-box {
    max-width: 400px;
  }

  .heading {
    left: 70px;
  }

  main h1 {
    font-size: 2.2em;
  }

  .heading p {
    font-size: 1.6em;
  }

  .home-featured {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
  }

  .featured {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin-top: 30px;
  }

  .about-featured {
    display: block;
    max-width: 450px;
  }

  .visit-main h1 {
    margin-left: 0px;
  }

  .visit-featured {
    max-width: 450px;
    display: block;
    margin: 40px auto 20px auto;
  }

  .contact-featured {
    max-width: 450px;
    display: block;
  }

  .contact-image {
    max-width: 450px;
  }

  .phone-popup {
    width: 100%;
  }

  .chat-popup {
    width: 100%;
  }

  .form-contact {
    width: 100%;
  }

  .address {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
  }

  .opening-section {
    position: fixed;
    right: 1%;
    top: 215px;
  }

  .opening-section h3 {
    font-size: 1.2em;
  }

  .opening h4 {
    font-size: 1.3em;
  }

  .featured-page {
    margin: 20px 20px 0 20px;
    display: inline-block;
    min-width: 300px;
  }

  .cosmology-box {
    margin: 10px 0 38px 0;
  }
}

@media (min-width: 1050px) {
  .nav a {
    padding: 0px;
    margin: 0;
  }

  nav {
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 35%;
    font-size: 1.4em;
    right: 10%;
  }

  .navigation {
    width: 80vw;
    text-align: center;
    margin: 0 auto;
  }

  nav ul {
    display: flex;
    margin: 10px 0 0 -50px;
    border: none;
    justify-content: space-evenly;
    gap: 1px;
  }

  nav li {
    display: block;
    margin: 0 3px;
  }

  .hamburger-icon {
    display: none;
  }

  .fa-search {
    right: 10px;
    top: 36px;
    font-size: 1.5em;
    padding: 10px;
  }

  .heading {
    left: 100px;
  }

  .featured-grid {
    max-width: 900px;
    gap: 50px;
  }
  .opening-section {
    right: 10%;
  }

  .opening-section h3 {
    font-size: 1.6em;
  }

  .opening h4 {
    font-size: 1.5em;
  }

  .visit-main h1 {
    margin-left: 100px;
    font-size: 2.4em;
  }

  .fa-search {
    right: 50px;
  }

  .about-featured {
    display: flex;
    max-width: 850px;
  }
}
